In [1]:
input = 'vote_analysis_demo.csv'

In [2]:
!pip install names

Collecting names
  Downloading https://files.pythonhosted.org/packages/44/4e/f9cb7ef2df0250f4ba3334fbdabaa94f9c88097089763d8e85ada8092f84/names-0.3.0.tar.gz (789kB)
     |████████████████████████████████| 798kB 2.4MB/s eta 0:00:01
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Stored in directory: /Users/violetyao/Library/Caches/pip/wheels/f9/a5/e1/be3e0aaa6fa285575078fa2aafd9959b45bdbc8de8a6803aeb
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0
WARNING: You are using pip version 19.1.1, however version 19.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(input)

In [5]:
df.head()

,Voter Name,Vote,Male,18-49,50,White,Black,Hispanic,College Grad,$75k +,$30-75k,Less Than $30k,Registered
0,NaN,1,1,1,0,1,0,0,1,0,1,0,NaN
1,NaN,1,1,1,0,1,0,0,1,0,1,0,NaN
2,NaN,1,1,1,0,1,0,0,1,1,0,0,NaN
3,NaN,1,1,1,0,1,0,0,0,1,0,0,NaN
4,NaN,1,1,1,0,1,0,0,0,1,0,0,NaN

In [37]:
for i in range(1, len(lines)):
    df.iloc[i,0] = names.get_full_name()

IndexError: single positional indexer is out-of-bounds

In [39]:
df.to_csv("vote_random_names")

In [6]:
with open(input, 'r') as dat:
    lines = dat.readlines()

In [7]:
lines

['Voter Name,Vote,Male,18-49,50,White,Black,Hispanic,College Grad,$75k +,$30-75k,Less Than $30k,Registered\n',
 ',1,1,1,0,1,0,0,1,0,1,0,\n',
 ',1,1,1,0,1,0,0,1,0,1,0,\n',
 ',1,1,1,0,1,0,0,1,1,0,0,\n',
 ',1,1,1,0,1,0,0,0,1,0,0,\n',
 ',1,1,1,0,1,0,0,0,1,0,0,\n',
 ',1,1,0,1,1,0,0,1,1,0,0,\n',
 ',1,1,0,1,1,0,0,1,1,0,0,\n',
 ',1,1,0,1,1,0,0,1,1,0,0,\n',
 ',1,1,0,1,1,0,0,0,0,1,0,\n',
 ',1,1,0,1,1,0,0,0,0,1,0,\n',
 ',1,1,0,1,1,0,0,0,0,1,0,\n',
 ',1,1,1,0,0,1,0,0,0,1,0,\n',
 ',1,1,1,0,0,1,0,0,0,0,1,\n',
 ',1,1,0,1,0,1,0,1,1,0,0,\n',
 ',1,1,1,0,0,0,1,0,0,0,1,\n',
 ',1,1,1,0,0,0,1,0,0,0,1,\n',
 ',1,1,0,1,0,0,1,0,0,1,0,\n',
 ',1,1,0,1,0,0,1,1,1,0,0,\n',
 ',1,0,1,0,1,0,0,1,0,1,0,\n',
 ',1,0,1,0,1,0,0,1,0,1,0,\n',
 ',1,0,1,0,1,0,0,1,0,0,1,\n',
 ',1,0,1,0,1,0,0,1,0,0,1,\n',
 ',1,0,1,0,1,0,0,1,0,0,1,\n',
 ',1,0,1,0,1,0,0,1,0,1,0,\n',
 ',1,0,1,0,1,0,0,1,0,1,0,\n',
 ',1,0,1,0,1,0,0,0,0,0,1,\n',
 ',1,0,1,0,1,0,0,0,1,0,0,\n',
 ',1,0,0,1,1,0,0,1,1,0,0,\n',
 ',1,0,0,1,1,0,0,1,1,0,0,\n',
 ',1,0,0,1,1,0,0,1,1,0,0,\n',
 ',1,0,0,1,1,0,0,0,1,0,0,\n',
 ',1,0,0,1,1,0,0,0,0,0,1,\n',
 ',1,0,0,1,1,0,0,0,0,1,0,\n',
 ',1,0,0,1,1,0,0,0,0,1,0,\n',
 ',1,0,0,1,1,0,0,0,1,0,0,\n',
 ',1,0,0,1,1,0,0,0,0,0,1,\n',
 ',1,0,1,0,0,1,0,1,0,0,1,\n',
 ',1,0,1,0,0,1,0,0,0,1,0,\n',
 ',1,0,1,0,0,1,0,0,0,0,1,\n',
 ',1,0,0,1,0,1,0,0,0,0,1,\n',
 ',1,0,0,1,0,1,0,0,0,1,0,\n',
 ',1,0,1,0,0,0,1,1,0,1,0,\n',
 ',1,0,1,0,0,0,1,1,0,0,1,\n',
 ',1,0,0,1,0,0,1,0,1,0,0,\n',
 ',0,1,1,0,1,0,0,1,1,0,0,\n',
 ',0,1,1,0,1,0,0,1,1,0,0,\n',
 ',0,1,1,0,1,0,0,1,0,1,0,\n',
 ',0,1,1,0,1,0,0,0,0,1,0,\n',
 ',0,1,1,0,1,0,0,0,0,1,0,\n',
 ',0,1,1,0,1,0,0,0,0,1,0,\n',
 ',0,1,1,0,1,0,0,0,0,0,1,\n',
 ',0,1,1,0,1,0,0,0,0,0,1,\n',
 ',0,1,0,1,1,0,0,1,1,0,0,\n',
 ',0,1,0,1,1,0,0,1,1,0,0,\n',
 ',0,1,0,1,1,0,0,1,1,0,0,\n',
 ',0,1,0,1,1,0,0,0,1,0,0,\n',
 ',0,1,0,1,1,0,0,0,1,0,0,\n',
 ',0,1,0,1,1,0,0,0,1,0,0,\n',
 ',0,1,0,1,1,0,0,0,0,1,0,\n',
 ',0,1,0,1,1,0,0,0,0,1,0,\n',
 ',0,1,0,1,1,0,0,0,1,0,0,\n',
 ',0,1,0,1,1,0,0,0,1,0,0,\n',
 ',0,1,0,1,1,0,0,0,0,1,0,\n',
 ',0,1,0,1,1,0,0,0,0,1,0,\n',
 ',0,1,0,1,0,1,0,1,1,0,0,\n',
 ',0,1,1,0,0,0,1,0,0,1,0,\n',
 ',0,0,1,0,1,0,0,1,0,1,0,\n',
 ',0,0,1,0,1,0,0,1,0,1,0,\n',
 ',0,0,1,0,1,0,0,1,0,0,1,\n',
 ',0,0,1,0,1,0,0,0,0,0,1,\n',
 ',0,0,1,0,1,0,0,0,0,0,1,\n',
 ',0,0,0,1,1,0,0,1,1,0,0,\n',
 ',0,0,0,1,1,0,0,1,1,0,0,\n',
 ',0,0,0,1,1,0,0,1,0,1,0,\n',
 ',0,0,0,1,1,0,0,0,0,1,0,\n',
 ',0,0,0,1,1,0,0,0,0,0,1,\n',
 ',0,0,0,1,1,0,0,0,1,0,0,\n',
 ',0,0,0,1,1,0,0,0,0,0,1,\n',
 ',0,0,0,1,1,0,0,0,0,0,1,\n',
 ',0,0,0,1,1,0,0,0,0,0,1,\n',
 ',0,0,0,1,1,0,0,0,0,0,1,\n',
 ',0,0,0,1,1,0,0,0,0,0,1,\n',
 ',0,0,0,1,1,0,0,0,0,1,0,\n',
 ',0,0,0,1,1,0,0,0,0,1,0,\n',
 ',0,0,0,1,1,0,0,0,0,1,0,\n',
 ',0,0,0,1,1,0,0,0,0,0,1,\n',
 ',0,0,1,0,0,0,1,0,0,0,1,']

In [8]:
len(lines)

88

In [18]:
for i in range(1, len(lines)):
    lines[i] = names.get_full_name() + lines[i]

In [19]:
lines

['Voter Name,Vote,Male,18-49,50,White,Black,Hispanic,College Grad,$75k +,$30-75k,Less Than $30k,Registered\n',
 'Thomas Metzger,1,1,1,0,1,0,0,1,0,1,0,\n',
 'Alonzo Huot,1,1,1,0,1,0,0,1,0,1,0,\n',
 'Clifford Kirkland,1,1,1,0,1,0,0,1,1,0,0,\n',
 'Reina Williams,1,1,1,0,1,0,0,0,1,0,0,\n',
 'Brenda Smith,1,1,1,0,1,0,0,0,1,0,0,\n',
 'Richard Price,1,1,0,1,1,0,0,1,1,0,0,\n',
 'Melissa Seal,1,1,0,1,1,0,0,1,1,0,0,\n',
 'Larry Dennis,1,1,0,1,1,0,0,1,1,0,0,\n',
 'Alda Colon,1,1,0,1,1,0,0,0,0,1,0,\n',
 'Leona Kenneally,1,1,0,1,1,0,0,0,0,1,0,\n',
 'Edris Dearman,1,1,0,1,1,0,0,0,0,1,0,\n',
 'Latonya Carter,1,1,1,0,0,1,0,0,0,1,0,\n',
 'James Hamel,1,1,1,0,0,1,0,0,0,0,1,\n',
 'James Morrison,1,1,0,1,0,1,0,1,1,0,0,\n',
 'Rachel Duty,1,1,1,0,0,0,1,0,0,0,1,\n',
 'Dennis Dowdy,1,1,1,0,0,0,1,0,0,0,1,\n',
 'Maria Mcleary,1,1,0,1,0,0,1,0,0,1,0,\n',
 'Salvatore Harper,1,1,0,1,0,0,1,1,1,0,0,\n',
 'Eunice Yates,1,0,1,0,1,0,0,1,0,1,0,\n',
 'Donna Richard,1,0,1,0,1,0,0,1,0,1,0,\n',
 'Henry Maynard,1,0,1,0,1,0,0,1,0,0,1,\n',
 'Alyce Kowalchuk,1,0,1,0,1,0,0,1,0,0,1,\n',
 'Irene Patterson,1,0,1,0,1,0,0,1,0,0,1,\n',
 'Rufus Bell,1,0,1,0,1,0,0,1,0,1,0,\n',
 'Paul Villegas,1,0,1,0,1,0,0,1,0,1,0,\n',
 'Kimberly Thomas,1,0,1,0,1,0,0,0,0,0,1,\n',
 'Alice Kjellman,1,0,1,0,1,0,0,0,1,0,0,\n',
 'James Bloom,1,0,0,1,1,0,0,1,1,0,0,\n',
 'Norman Freeman,1,0,0,1,1,0,0,1,1,0,0,\n',
 'Ollie Gibson,1,0,0,1,1,0,0,1,1,0,0,\n',
 'Debra Saxton,1,0,0,1,1,0,0,0,1,0,0,\n',
 'Lucille Aki,1,0,0,1,1,0,0,0,0,0,1,\n',
 'Jamie Connelly,1,0,0,1,1,0,0,0,0,1,0,\n',
 'William Martinez,1,0,0,1,1,0,0,0,0,1,0,\n',
 'David Oneill,1,0,0,1,1,0,0,0,1,0,0,\n',
 'Keith Manfred,1,0,0,1,1,0,0,0,0,0,1,\n',
 'Jill Parga,1,0,1,0,0,1,0,1,0,0,1,\n',
 'Michael Mcdonell,1,0,1,0,0,1,0,0,0,1,0,\n',
 'Jon Martin,1,0,1,0,0,1,0,0,0,0,1,\n',
 'Marlon Wall,1,0,0,1,0,1,0,0,0,0,1,\n',
 'Wilford Guerra,1,0,0,1,0,1,0,0,0,1,0,\n',
 'Patrick Phillips,1,0,1,0,0,0,1,1,0,1,0,\n',
 'John Hammonds,1,0,1,0,0,0,1,1,0,0,1,\n',
 'Mary Jackson,1,0,0,1,0,0,1,0,1,0,0,\n',
 'Nicholas Harmon,0,1,1,0,1,0,0,1,1,0,0,\n',
 'Christopher Cross,0,1,1,0,1,0,0,1,1,0,0,\n',
 'Larry Lee,0,1,1,0,1,0,0,1,0,1,0,\n',
 'Sandra Clark,0,1,1,0,1,0,0,0,0,1,0,\n',
 'Evelyn Kieffer,0,1,1,0,1,0,0,0,0,1,0,\n',
 'Leonardo Whitton,0,1,1,0,1,0,0,0,0,1,0,\n',
 'Harold Kleber,0,1,1,0,1,0,0,0,0,0,1,\n',
 'Randy Flahive,0,1,1,0,1,0,0,0,0,0,1,\n',
 'Joseph Sweeny,0,1,0,1,1,0,0,1,1,0,0,\n',
 'Melinda Long,0,1,0,1,1,0,0,1,1,0,0,\n',
 'Ambrose Newberry,0,1,0,1,1,0,0,1,1,0,0,\n',
 'Daniel Davila,0,1,0,1,1,0,0,0,1,0,0,\n',
 'Andrew Crawford,0,1,0,1,1,0,0,0,1,0,0,\n',
 'Angela Smith,0,1,0,1,1,0,0,0,1,0,0,\n',
 'Terrance Grubbs,0,1,0,1,1,0,0,0,0,1,0,\n',
 'Joseph Bearden,0,1,0,1,1,0,0,0,0,1,0,\n',
 'Sean Makris,0,1,0,1,1,0,0,0,1,0,0,\n',
 'Margarita Donovan,0,1,0,1,1,0,0,0,1,0,0,\n',
 'Cassie Aquino,0,1,0,1,1,0,0,0,0,1,0,\n',
 'Jason Wiseman,0,1,0,1,1,0,0,0,0,1,0,\n',
 'Ryan Miller,0,1,0,1,0,1,0,1,1,0,0,\n',
 'Elizabeth Dillard,0,1,1,0,0,0,1,0,0,1,0,\n',
 'Thomas Savino,0,0,1,0,1,0,0,1,0,1,0,\n',
 'Wendolyn Morris,0,0,1,0,1,0,0,1,0,1,0,\n',
 'Judy Lazar,0,0,1,0,1,0,0,1,0,0,1,\n',
 'Constance Carpenter,0,0,1,0,1,0,0,0,0,0,1,\n',
 'Jennifer Merriweather,0,0,1,0,1,0,0,0,0,0,1,\n',
 'Eugene Thompson,0,0,0,1,1,0,0,1,1,0,0,\n',
 'John Kipping,0,0,0,1,1,0,0,1,1,0,0,\n',
 'Thomas Truett,0,0,0,1,1,0,0,1,0,1,0,\n',
 'Trudi Holmes,0,0,0,1,1,0,0,0,0,1,0,\n',
 'Jeremy Hopkins,0,0,0,1,1,0,0,0,0,0,1,\n',
 'Roger Vue,0,0,0,1,1,0,0,0,1,0,0,\n',
 'Brandon Morrison,0,0,0,1,1,0,0,0,0,0,1,\n',
 'Sarah Kapur,0,0,0,1,1,0,0,0,0,0,1,\n',
 'Shirley Mitchell,0,0,0,1,1,0,0,0,0,0,1,\n',
 'Deborah Lim,0,0,0,1,1,0,0,0,0,0,1,\n',
 'Pearlie Baine,0,0,0,1,1,0,0,0,0,0,1,\n',
 'Gregg Jones,0,0,0,1,1,0,0,0,0,1,0,\n',
 'Eli Predovich,0,0,0,1,1,0,0,0,0,1,0,\n',
 'Michelle Peoples,0,0,0,1,1,0,0,0,0,1,0,\n',
 'Louis Treston,0,0,0,1,1,0,0,0,0,0,1,\n',
 'Anne Towry,0,0,1,0,0,0,1,0,0,0,1,']

In [10]:
import names

In [11]:
names.get_full_name()

'Kevin Sutterfield'

In [21]:
import csv

In [26]:
with open('output.csv', 'a') as the_file:
    for i in range(1, len(lines)):
        the_file.write(lines[i])

In [23]:
names.get_full_name() + lines[1]

'Robert DonawayThomas Metzger,1,1,1,0,1,0,0,1,0,1,0,\n'

In [27]:
lines[1]

'Thomas Metzger,1,1,1,0,1,0,0,1,0,1,0,\n'

=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>
=====
<class 'pandas.core.series.Series'>